{% extends 'flatpages/default.html' %}

{% load my_filters %}
{% load i18n %}
{% load tz %}
{% block title %}
Post
{% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">

</form>

<h1><span style="color: #993300;">{% trans 'Все новости' %}</span></h1>
<hr size="5" style="color: #0099ff;"/>


<!--{% for post in  Posts%}-->
<!--<p style="color:#3399ff; background-color: #ffffff;">-->

<!--    <marquee behavior="scroll" direction="left">{{ post.title }}</marquee>-->
<!--</p>-->

<!--{% endfor %}-->

<h7><p style="text-align: right;">{{ time_now|date:'d M Y' }}</p>
</h7> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->

{% if Posts %}

<!--<style>-->

<!--   h4 {-->
<!--    border-bottom: 1px solid green; /* Добавляем подчёркивание */-->
<!--    padding-bottom: 5px; /* Расстояние от текста до линии */-->
<!--   }-->
<!--  </style>-->
<table>

    <tr>
        <td style="width: 150px; text-align: center; height: 120px;">
            <h4><em><span style="color: #008000;">{% trans 'Автор' %} </span></em></h4>
            <hr/>

        </td>

        <td>
            <h4><em><span style="color: #008000;">{% trans 'Категория' %}</span></em></h4>
            <hr/>

        </td>
        <td>
            <h4><em><span style="color: #008000;">{% trans 'Статья' %}</span></em></h4>
            <hr/>


        </td>
        <td>
            <h4><em><span style="color: #008000;">&nbsp;{% trans 'Дата' %}</span></em></h4>
            <hr/>

        </td>
        <td>
            <h4><em><span style="color: #008000;">{% trans 'Рейтинг' %}</span></em></h4>
            <hr/>


        </td>
    </tr>

    {% for news1 in Posts %}
    <tr>
        <td>
            <h5>{{ news1.author|title }}</h5>
            <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с самого товара -->
            <!--            <a href="{% url 'news_update' news1.id %}"><u><strong><span-->
            <!--                    style="color: #008000;">Редактировать</span></strong></u></a> &lt;!&ndash; добавим ссылку на редактирование товара&ndash;&gt;-->

            <!--            <a href="{% url 'news_delete' news1.id %}"><u><strong><span style="color: #ff6600;">Удалить</span></strong></u></a>-->
            <!-- добавим ссылку на удаление товара-->


        </td>

        <td>
            {% for new in news1.postCategory.all %}
            <h5>{{ new|title }}</h5>
            {% endfor %}


        </td>
        <td>
            <h6><i>
                <ins>{{ news1|title }}</ins>
            </i></h6>
            {{ news1.text|truncatewords:30|Censor }}

            <p class="link-reed-post"><a href="{% url 'news_detail' news1.id %}">{% trans 'Читать статью' %}</a></p>
            <hr size="4" style="color: 	#9400D3;"/>

        </td>
        <td>
            <small>{{ news1.dateCreation }} </small>

        </td>
        <td>
            <small>{{ news1.rating }}</small>

        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h2>{% trans 'Такой новости нет' %}!</h2>
{% endif %}

</table>
<a href="{% url 'news_create' %}"><u><span style="color: #cc6633;">{% trans 'Добавить новость' %}</span></u></a>
<br>
{% if is_paginated %}

<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
{% if page_obj.has_previous %}
<a href="?{{ request.get_full_path|update_page:1}}">{% trans 'Начало' %}</a>
<a href="?{{ request.get_full_path|update_page:page_obj.previous_page_number}}"><<<</a>
{% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'Конец' %}</a>
{% endif %}

{% endif %}
{% endblock content %}