<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>СТРАНИЦА НЕ НАЙДЕНА!</title>
</head>
<body background="{% static 'images/404.png' %}">
<!--<body background="{% static 'images/9.jpg' %}">-->
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<h1 style="text-align:center;"><span style="color: #993300;">СТРАНИЦА НЕ НАЙДЕНА!</span></h1>






</body>
</html>

<!---->
<!--"-->
<!--"-->